{% if is_granted('ROLE_SCOPE_R_PROFILE_EMAIL') %}
    {% if item.primaryEmailAddress %}
        {{ item.primaryEmailAddress.email }}
        {% if not item.primaryEmailAddress.verified %}
            <span class="text-muted">(Not verified)</span>
        {% endif %}
    {% else %}
        <span class="text-muted">(None)</span>
    {% endif %}
{% else %}
    <span class="text-muted">(Hidden)</span>
{% endif %}
