{% extends 'TwigBundle:Exception:error.html.twig' %}
{% block error_icon %}
  <i class="fa fa-file fa-stack-2x"></i>
  <i class="fa fa-times-circle text-danger fa-stack-1x"></i>
{% endblock %}
{% block error_title %}File not found{% endblock %}
{% block error_description %}
  <p>The page you requested does not exist.</p>
{% endblock %}
