{% extends 'AdminBundle:User:skeleton.html.twig' %}
{% block radrest_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ icon('user') }} {{ data.username }} ({{ data.displayName}})</h3>
    </div>

    <div class="panel-body">
        <dl class="dl-horizontal">
            {{ event_send('Admin\\AdminEvents::DISPLAY', 'App\\Event\\TemplateEvent', data) }}
        </dl>
    </div>
{% endblock %}
