<div class="panel-body">
    <div class="alert alert-danger" role="alert">
        {% if error_type == "Symfony\\Component\\Security\\Core\\Exception\\LockedException" %}
            <p>Your email address has not yet been validated.</p>
            <p>If you did not receive a verification mail, you can <a class="alert-link" href="{{ url('user_email_resend', { user: last_username }) }}">resend the verification email.</a></p>
        {% elseif error_type == "Symfony\\Component\\Security\\Core\\Exception\\DisabledException" %}
            <p>Your account is disabled.</p>
            <p>Please contact an administrator to activate your account.</p>
        {% else %}
            <p>{{ error.message }}</p>
        {% endif %}
    </div>
</div>

