{% extends 'AdminBundle:Group:skeleton.html.twig' %}
{% block radrest_content %}
    <div class="panel-heading">
        <h3 class="panel-title">Edit</h3>
    </div>
    <div class="panel-body">
        {% if form is defined %}
            {{ form(form, {action: path('admin_group_put', {group: group.name}), style: 'horizontal'}) }}
        {% endif %}
    </div>
{% endblock %}
