{% extends 'AdminBundle:Group:skeleton.html.twig' %}
{% block radrest_content %}
    <div class="panel-heading">
        <h3 class="panel-title">Delete</h3>
    </div>
    <div class="panel-body">
        {% if form is defined %}
            {{ form(form, {action: path('admin_group_delete', {id: id})}) }}
        {% endif %}
    </div>
{% endblock %}
