/web/bundles/
/app/cache/*
/app/logs/*
/vendor/
/bin/
/node_modules
/components
/app/database.sqlite
/web/css
/web/js
/web/fonts
/.vagrant
/app/config/parameters.yml
/app/config/parameters-clic.yml
/app/Resources/less/
/plugins/*
!/plugins/.gitkeep
/_maintenance.html
/web/.htaccess
