sensio_framework_extra:
    view: { annotations: false }

fos_rest:
    disable_csrf_role: ROLE_API
    param_fetcher_listener: true
    view:
        view_response_listener: 'force'
        formats:
            xml:  true
            json: true
        templating_formats:
            html: true
            gv:  true
    format_listener:
        rules:
            - { path: ^/admin/(auditlog|oauth|apikeys), priorities: [html], fallback_format: html}
            - { path: ^/api, priorities: [ json, xml ], fallback_format: json }
            - { path: ^/, priorities: [ html, json, xml, gv ], fallback_format: html, prefer_extension: true }
    exception:
        codes:
            'Symfony\Component\Routing\Exception\ResourceNotFoundException': 404
            'Doctrine\ORM\OptimisticLockException': HTTP_CONFLICT
        messages:
            'Symfony\Component\Routing\Exception\ResourceNotFoundException': true
    allowed_methods_listener: true
    access_denied_listener:
        json: true
        xml: true
    body_listener: false

bazinga_rest_extra:
    link_request_listener: true
