{% if value %}
    {% include 'AdminBundle:Audit:format/extras.html.twig' with { cls: 'App\\Entity\\User', id: value } only %}
{% else %}
    <span class="text-muted">(Exit impersonation)</span>
{% endif %}
