{% include 'AdminBundle:Audit:format/target.html.twig' with {obj: item} only %}
<span class="pull-right">
{% include 'AdminBundle:Audit:format/extras.html.twig' with {cls:item.objectClass,id:item.objectId } only %}
</span>