<dt>Password</dt>
<dd>
    {% if passwordEnabled == 1 %}
        ****** <a class="btn btn-sm btn-link" href="{{ url('user_change_password') }}">{{ icon('pencil') }} Edit</a>
    {% else %}
        <span class="text-muted">(None)</span> <a class="btn btn-sm btn-link" href="{{ url('user_change_password') }}">{{ icon('key') }} Configure password</a>
    {% endif %}
</dd>
