{% extends 'VlRadRestBundle:Default:skeleton.html.twig' %}
{% block radrest_content %}
    <div class="panel-heading">
        <h3 class="panel-title">Change password</h3>
    </div>
    <div class="panel-body">
        {% if form is defined %}
            {{ form(form, {style: 'horizontal'}) }}
        {% endif %}
    </div>
{% endblock %}
