{% extends '::base.html.twig' %}
{% block head %}
    <style>
        .panel-authorized-apps form, .panel-authorized-apps form div, .list-groups form, .list-groups form > div{
            display: inline;
        }
        .panel-authorized-apps form {
            float: right;
        }

        .panel-authorized-apps .list-group-item {
            min-height: 30px;
            line-height: 30px;
        }

        .panel-authorized-apps .list-group-item .app-name {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            width: 100%;
        }

        .panel-authorized-apps .list-group-item .btn, .list-groups .btn {
            margin-left: 10px;
        }
    </style>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            {% include 'AppBundle::templateEvent.html.twig' with {event: userProfileEvent } only %}
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="panel panel-default panel-authorized-apps">
                <div class="panel-heading">
                    <h2 class="panel-title">Authorized apps</h2>
                </div>
                <div class="list-group">
                    {% for auth in data.authorizedApplications %}
                        <div class="list-group-item">
                            <span class="app-name">
                                {{ render(controller('UserBundle:Profile:removeAuthorizedApp', {
                                    appId: auth.client.id
                                })) -}}
                                {{- auth.client.name }}
                            </span>
                        </div>
                    {% else %}
                        <div class="list-group-item">
                            <span class="text-muted">(No authorized applications)</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        $('.js--edit-user-property').on('click', function() {
            var $target = $($(this).attr('data-target')).children('form').find('.form-control[type=text]');
            setTimeout(function() {$target.focus();},1);
        });
    </script>
{% endblock %}
