{% extends 'AdminBundle:Audit:skeleton.html.twig' %}
{% block radrest_content %}
    <div class="panel-heading">
        <h3 class="panel-title">View</h3>
    </div>

    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Target Object</dt><dd>
                {% include 'AdminBundle:Audit:format/target.html.twig' with {obj: data} %}
                <br>
                {% include 'AdminBundle:Audit:format/extras.html.twig' with {cls:data.objectClass,id:data.objectId } only%}</dd>
            <dt>Action</dt><dd>
                {% include 'AdminBundle:Audit:format/action.html.twig' with {action: data.action} %}
            </dd>
            <dt>Version</dt><dd>{{ data.version }}</dd>
            <dt>Timestamp</dt><dd>{{ data.loggedAt|date }}</dd>
            <dt>Editor</dt><dd>{% include 'AdminBundle:Audit:format/username.html.twig' with {username: data.username} %}</dd>
        </dl>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr><th>Name</th><th>New data</th></tr>
            </thead>
            <tbody>
            {% for name,value in data.data %}
                <tr>
                    <td>{{ name }}</td>
                    <td>
                        {{ event_send('Admin\\AuditEvents::PROPERTY_DETAILS', 'Admin\\Event\\Audit\\PropertyDetailsEvent', data.objectClass, name, value) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
