{% extends '::base.html.twig' %}
{% block title %}{{ parent() }} - Login{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Login</h3>
                    </div>
                    {% include 'AppBundle::templateEvent.html.twig' with {event: bodyTemplateEvent } only %}
                    <div class="panel-footer text-center">
                        {% include 'AppBundle::templateEvent.html.twig' with {event: footerTemplateEvent } only %}
                        <div class="clearfix"></div>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}
