{% extends '::base.html.twig' %}
{% block title %}{{ parent() }} - Login{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Login</h3>
                    </div>
                    {{ event_send('App\\AppEvents::LOGIN_VIEW_BODY', bodyTemplateEvent) }}
                    <div class="panel-footer text-center">
                        {{ event_send('App\\AppEvents::LOGIN_VIEW_FOOTER', footerTemplateEvent) }}
                        <div class="clearfix"></div>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}
