body {
    padding-top: 70px;
}

.dropdown-menu > li > span {
    margin: 3px 20px;
}

.dropdown-menu input {
    min-width: 150px;
}

@media (min-width: 768px) {
    #navbar-search {
        min-width: 500px;
    }
}
