body {
    padding-top: 70px;
}

.dropdown-menu .menu-input {
    margin: 3px 20px;
    width: 300px;
}

#navbar-search {
    min-width: 300px;
}

.panel-mobile-search  .panel-heading {
    cursor: pointer;
}
.panel-mobile-search .list-group-item:first-child {
    border-top-width: 1px;
}
.panel-mobile-search .list-group-item {
    border-width: 0;
}
.panel-mobile-search .list-group .divider {
    border-width: 1px 0;
    height: 0;
    padding: 0;
}
