<dt>Password authentication</dt><dd>
    {% if subject.passwordEnabled == 1 %}
        Enabled
    {% elseif subject.passwordEnabled == 2 %}
        Allow user to set initial password
    {% elseif subject.passwordEnabled == 0 %}
        Disabled
    {% else %}
        <span class="text-danger">Invalid value: {{ subject.passwordEnabled }}</span>
    {% endif %}
</dd>
{% if subject.passwordEnabled != 2 %}
    <dt>Password</dt><dd>
        {% if subject.passwordEnabled == 1 %}******{% endif %}
        <a class="btn btn-sm btn-link" href="{{ url('user_password_forgot', { user: subject.username }) }}">Reset</a>
    </dd>
{% endif %}