{% block subject %}Reset your AuthServer password{% endblock %}
{% block body_html %}
Confirmation code: <b>{{ data.passwordResetToken }}</b>
Link: <a href="{{ url('user_password_reset', {username: data.username, verificationCode: data.passwordResetToken }) }}">Click to reset your password</a>
{% endblock %}
{% block body_text %}
Confirmation code: {{ data.passwordResetToken }}
Link: {{ url('user_password_reset', {username: data.username, verificationCode: data.passwordResetToken }) }}
{% endblock %}
