# {{ ansible_managed }}
parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     authserver
    database_user:     authserver
    database_password: authserver
    database_path:     %kernel.root_dir%/database.sqlite

    mailer_transport:  smtp
    mailer_host:       smtp.zoho.com
    mailer_user:       noreply@vbgn.be
    mailer_password:   fwkt7gd44a
    mailer_encryption: ssl
    mailer_sender:     noreply@vbgn.be

    locale: en
    secret: {{ random.stdout }}
