# {{ ansible_managed }}
parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     authserver
    database_user:     authserver
    database_password: authserver
    database_path:     %kernel.root_dir%/database.sqlite

    mailer_transport:  smtp
    mailer_host:       smtp.zoho.com
    mailer_user:       noreply@vbgn.be
    mailer_password:   fwkt7gd44a
    mailer_encryption: ssl
    mailer_sender:     noreply@vbgn.be

    locale: en
    secret: {{ random.stdout }}
registration:
    enabled: true
    email_rules:
        - { domain: vbgn.be, self_registration: true }
        - { domain: activate.vbgn.be, self_registration: true, auto_activate: true }
        - { domain: sysops.vbgn.be, self_registration: true, auto_activate: true}
    registration_message: 'You can register with @vbgn.be email addresses; @activate.vbgn.be addresses are automatically activated and @sysops.vbgn.be is automatically added to the %sysops group if it exists, and will be granted ROLE_SUPER_ADMIN.'

email_rules:
    enabled: true
    rules:
        - { domain: sysops.vbgn.be, groups: ['%sysops'], role: ROLE_SUPER_ADMIN}
        - { domain: admin.vbgn.be, role: ROLE_ADMIN }
        - { domain: reject.vbgn.be, reject: true }

theming:
    brand:
        title: AuthServer Dev
    admin_email: noreply@vbgn.be
    navbar:
        background: red
        text_color: darken(white, 10%)
        inverse: true
        menu:
            github: { label: '.icon-github GitHub', uri: 'https://github.com/vierbergenlars/authserver' }
