<div class="panel-body">
    <form action="{{ url(controller.route('cget')) }}">
        <div class="input-group">
            <input type="search" name="q" placeholder="Search" class="form-control">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default">{{ icon('search') }}<span class="sr-only">Search</span></button>
            </span>
        </div>
    </form>
</div>
<div class="list-group hidden-xs">
    {% for obj in data %}
        <a class="list-group-item" href="{{ url(controller.route('get'), { id: obj.id }) }}">{{ obj.name }}</a>
    {% endfor %}
</div>
