{% extends 'VlRadRestBundle:Default:skeleton.html.twig' %}
{% block radrest_content %}
    <div class="panel-heading">
        <h3 class="panel-title">View</h3>
    </div>
    
    <div class="panel-body">
        {% for key in data|radrest_object_keys %}
            <p>{{ key }}: {{ attribute(data, key)|radrest_object_stringify }}</p>
        {% endfor %}
    </div>
    {% include 'VlRadRestBundle:Default:links.html.twig' %}
{% endblock %}
