<div class="panel-body">
    {% if data is defined and id is defined %}
        <p class="btn-group">
            {% if controller.may('get', data) %}
                <a class="btn btn-info" href="{{ url(controller.route('get'), {id: id}) }}">View</a>
            {% endif %}
            {% if controller.may('edit', data) %}
                <a class="btn btn-default" href="{{ url(controller.route('edit'), {id: id}) }}">Edit</a>
            {% endif %}
            {% if controller.may('remove', data) %}
                <a class="btn btn-danger" href="{{ url(controller.route('remove'), {id: id}) }}">Delete</a>
            {% endif %}
        </p>
    {% endif %}
    {% if controller.may('cget') %}
        <p class="btn-group">
            <a class="btn btn-default" href="{{ url(controller.route('cget')) }}">List</a>
        </p>
    {% endif %}
</div>
